---
---

@import "minimal-light";


@media (prefers-color-scheme: dark) {
    .name {
        color: #FFFFFF;
        font-size: 40px;
    }
    .chinese_name {
        color: #FFFFFF;
        font-size: 20px;
        margin-top: -15px;
        margin-bottom: 5px;      
    }
  }

/* HEADER */
.hero {
    position: relative;
}
.header {
    flex-direction: row;
}
.nav {
    line-height: 0.7em;
    font-size: 20px;
}
.option {
    font-weight: normal;
    color: var(--gray-03);
}
.selected {
    font-weight: 500;
    color: var(--black);
}
.option:hover {
    color: var(--black);
}
.title {
    display: flex;
    flex-direction: row;
}

a > img {
    border: 0px dashed rgb(146, 252, 192);  
    max-height: 100px;
    max-width: 150px;
    padding: 2px;
  }
  